/*
Channel Name : Easy Coding
Watch My YouTube Video : https://youtu.be/1u0az-HeP68
*/

/* font link You must have to internet cannection. */
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: #000000;
    display: flex;
}

.head_line{
    color: rgb(229, 255, 0);
    font-size: 30px;
    font-family: 'Anton', sans-serif;
    margin: 0 auto;
    text-align: center;
    letter-spacing: 2px;
}

.head_line_second{
    color: rgb(225, 0, 0);
    font-size: 25px;
    font-family: 'Anton', sans-serif;
    margin: 0 auto;
    text-align: center;
    letter-spacing: 1px;
}

.line{
    width: 100vw;
}

.left, .right{
    width: 50vw;
    overflow: hidden;
    display: inline-block;
}

.left {
    color:rgb(255, 0, 0);
    transform: skew(0deg, -15deg);
}

.right{
    color: rgb(229, 255, 0);
    transform: skew(0deg, 15deg);
}

.left .content{
    width: 100vw;
    text-align: center;
}

.right .content{
    width: 100vw;
    text-align: center;
    transform: translate(-50vw);
}

span{
    display: inline-block;
    font-family: 'Anton', sans-serif;
    font-size: 9vw;
    font-weight: 20;
    letter-spacing: 5px;
    text-transform: uppercase;
    line-height: .8;
    transition: ease-out .6s;
}
